<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link th:href="@{/bootstrap/css/bootstrap4-retro.css}" rel="stylesheet">
</head>

<body>

	<header th:insert="fragments/nav :: navbar-menu"></header>

	<div class="container">
		<div class="row">
			<div th:if="${errorMsg != null}" class="col-12 text-danger h4" th:text="${errorMsg}"></div>
			<div class="col-12 col-md-4 my-2 border border-info rounded" th:each="etiqueta : ${etiquetas}">
				<span class="lead" th:text="${etiqueta.nombre}"></span>
				<a th:href="@{/admin/etiquetas/borrar/{id} (id= ${etiqueta.id})}" class="btn btn-danger float-right">Eliminar</a>
			</div>
			<form th:action="@{/admin/etiquetas/nueva}" method="post" class="col-12 col-md-6 offset-md-3 my-4">
				<input type="text" name="nombre" class="form-control">
				<button type="submit" class="btn btn-block btn-success my-2">Nueva etiqueta</button>
			</form>
		</div>
	</div>



	<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>