<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link th:href="@{/bootstrap/css/bootstrap4-retro.css}" rel="stylesheet">
<link th:href="@{/css/all.min.css}" rel="stylesheet">
<title>Cambiar datos</title>
</head>
<body>

	<header th:insert="fragments/nav :: navbar-menu"></header>
	
	<div class="container">
		<div class="row">
			<form method="post" th:action="@{/usuarios/editar}" th:object="${usuario}" enctype="multipart/form-data" class="col-12 col-md-6 offset-md-3">
				<div th:if="${#fields.hasErrors('*')}"
					class='alert alert-danger' role='alert'>
					Por favor corrija los siguientes errores:
					<ul>
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
					</ul>
				</div>
				
				<input type="hidden" name="id" th:attr="value = ${usuario.id}">

				<div class="form-group">
					<label class="lead" for="nombre">Nombre completo</label> <input
						th:field="*{nombre}" type="text" class="form-control"
						name="nombre" id="nombre">
				</div>

				<div class="form-group">
					<label class="lead" for="username">Nombre de usuario</label> <input
						th:field="*{username}" type="text" class="form-control"
						name="username" id="username">
				</div>

				<div class="form-group">
					<label class="lead" for="passwd">Nueva contraseña</label>
					<div class="input-group">
						<input type="password" class="form-control" name="new-passwd"
							id="passwd">
						<div class="input-group-append">
							<button type="button" class="btn btn-info" id="showPasswd">
								<i class="fas fa-eye"></i>
							</button>
						</div>
					</div>

					<label class="lead" for="passwdConfirm">Confirmar
						contraseña</label>
					<div class="input-group">
						<input type="password" class="form-control" name="passwdConfirm"
							id="passwdConfirm">
						<div class="input-group-append">
							<button type="button" class="btn btn-info" id="showPasswdConfirm">
								<i class="fas fa-eye"></i>
							</button>
						</div>
					</div>
				</div>

				<div class="custom-file mt-2">
					<input type="file" class="custom-file-input" id="avatar"
						name="archivoImagen"> <label class="custom-file-label"
						for="avatar">Avatar</label>
				</div>

				<button type="submit" class="btn btn-block btn-secondary mt-4">Confirmar</button>
				
			</form>
		</div>
	</div>

	<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.js}"></script>
	<script th:src="@{/js/all.min.js}"></script>
	<script>
        $("button#showPasswd").click(function (e) { 
            e.preventDefault();
            passwdToText($("#passwd"));
        });
        $("button#showPasswdConfirm").click(function (e) { 
            e.preventDefault();
            passwdToText($("#passwdConfirm"));
        });
        function passwdToText(input) {
            if (input.attr("type") == "text") {
                input.attr("type", "password");
            } else {
                input.attr("type", "text");
            }
        }
    </script>
</body>
</html>