
<nav th:fragment="navbar-menu"
	class="navbar navbar-expand-lg navbar-primary bg-secondary">
	<a class="navbar-brand" href="/"> <img th:src=@{/img/logo.png}
		width="200px" height="70px" alt="Logotipo"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon text-dark"></span>
	</button>

	<div class="collapse navbar-collapse text-secondary"
		id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active"><a class="nav-link" href="#">Explorar
					<span class="sr-only">(current)</span>
			</a></li>
			<li sec:authorize="hasAnyAuthority('ADMIN')" class="nav-item"><a class="nav-link" th:href="@{/usuarios/admin}">Usuarios</a></li>
			<li sec:authorize="hasAnyAuthority('REGISTRADO')" class="nav-item"><a class="nav-link" th:href="@{/usuarios/{username} (username=${#authentication.name})}">Mi perfil</a></li>

		</ul>
		<form class="form-inline my-2 my-lg-0">
		<div sec:authorize="isAnonymous()">
			<a th:href="@{/login}"
				class="btn btn-lg btn-outline-primary mr-1">
				Iniciar sesi&oacute;n
			</a> 
				
			<a th:href="@{/usuarios/registro}"
				class="btn btn-lg btn-primary">Registrarse</a> 
		</div>
			<div sec:authorize="hasAnyAuthority('REGISTRADO','ADMIN')">	
				<a class="btn btn-lg btn-outline-primary mr-1"
				th:href="@{/logout}">Salir</a>
			</div>	

		</form>
	</div>
</nav>

