<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link th:href="@{/bootstrap/css/bootstrap4-retro.css}" rel="stylesheet">
<link th:href="@{/css/all.min.css}" rel="stylesheet">
<title>Ha ocurrido un error</title>
</head>

<body>

	<header th:insert="fragments/nav :: navbar-menu"></header>

	<div class="jumbotron display-3 text-center">Lo sentimos, ha sucedido un error</div>

	<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.js}"></script>
	<script th:src="@{/js/all.min.js}"></script>
</body>
</html>