<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link th:href="@{/bootstrap/css/bootstrap4-retro.css}" rel="stylesheet">
<link th:href="@{/css/all.min.css}" rel="stylesheet">
<link th:href="@{/css/prism.css}" rel="stylesheet">
<title th:text="${publicacion.titulo}"></title>
</head>
<body>

	<header th:insert="fragments/nav :: navbar-menu"></header>
	<div class="container">
		<div class="row mt-4">
			<div class="col-12">
				<img th:src="@{/img/{avatar} (avatar=${publicacion.usuario.avatar})}" class="img-thumbnail" height="100" width="100">
				<a th:href="@{/usuarios/{username} (username=${publicacion.usuario.username})}" class="lead" th:text="${publicacion.usuario.nombre}"></a>
			</div>
			
			<div class="col-8 h2" th:text="${publicacion.titulo}"></div>
			<div class="col-2"><i class="fas fa-thumbs-up text-success"></i>&emsp;<span th:text="${publicacion.getValoracionesPositivas()}"></span></div>
			<div class="col-2"><i class="fas fa-thumbs-down text-danger"></i>&emsp;<span th:text="${publicacion.getValoracionesNegativas()}"></span></div>
			
			<p class="col-12" th:text="${publicacion.detalles}"></p>
			<div class="col-12" th:switch="${publicacion.tipoArchivo.name()}">
				<pre th:case="'CSS'"><code class="language-css" th:text="${archivo}"></code></pre>
				<pre th:case="'SASS'"><code class="language-scss" th:text="${archivo}"></code></pre>
				<pre th:case="'MARCA'"><code class="language-markup" th:text="${archivo}"></code></pre>
				<pre th:case="'JAVASCRIPT'"><code class="language-javascript" th:text="${archivo}"></code></pre>
				<pre th:case="'JAVA'"><code class="language-java" th:text="${archivo}"></code></pre>
				<pre th:case="'SQL'"><code class="language-sql" th:text="${archivo}"></code></pre>
				<pre th:case="'PROPERTIES'"><code class="language-properties" th:text="${archivo}"></code></pre>
				
			</div>
			<div sec:authorize="isAnonymous()" class="col-12 h5"><a class="text-secondary" th:href="@{/usuarios/registro}">Regístrate</a> o <a class="text-secondary" th:href="@{/login}">Inicia sesión</a> para responder a esta publicación</div>
			<div class="col-12" sec:authorize="hasAnyAuthority('REGISTRADO','ADMIN')">
				<form th:action="@{/publicaciones/respuesta/{id} (id=${publicacion.id})}">
					<p class="h5">Responde a esta publicación</p>
					<textarea rows="5" class="form-control" name="respuesta"></textarea>
					<button class="btn btn-secondary mt-2" type="submit">Enviar</button>
				</form>
			</div>
		</div>
	</div>
	

<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/all.min.js}"></script>
<script th:src="@{/js/prism.js}"></script>

</body>
</html>