<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link th:href="@{/bootstrap/css/bootstrap4-retro.css}" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/all.min.css}">
<title>Buscar publicaciones</title>
</head>

<body>

	<header th:insert="fragments/nav :: navbar-menu"></header>

	<form th:action="@{/publicaciones/explorar}" method="post"
		class="container">
		<div class="row">
			<div class="col-12 col-md-3 offset-md-2 form-group mt-2">
				<label class="lead" for="busqueda">B&uacute;squeda</label>
				<div class="mt-3">
				<hr>
				<input type="text" name="busqueda" class="form-control" id="busqueda">
				</div>
			</div>
			<div class="col-12 col-md-3">
				<div class="form-group mt-2">
					<label for="etiquetas" class="lead">Etiquetas</label>
					<fieldset name="etiquetas" id="etiquetas">
						<hr>
							<div class="input-group mt-2">
								<select class="form-control" id="selectorEtiqueta">
									<option th:each="etiqueta : ${etiquetas}"
										th:text="${etiqueta.nombre}" th:attr="value = ${etiqueta.id}" />
								</select>
								<button type="button" id="agregarEtiqueta"
									class="input-group-append btn btn-success">
									<i class="fas fa-plus"></i>
								</button>
							</div>
					</fieldset>
					<div class="list-group my-2" id="etiquetas">
						<input type="hidden" name="etiquetas" id="etiquetasvacias"
							value="nulo">
						<div th:each="etiqueta : ${etiquetasBuscadas}"
							class="a-borrar list-group-item">
							<input type="hidden" name="etiquetas"
								th:attr="value = ${etiqueta.id}"> <span
								th:text="${etiqueta.nombre}"></span>
							<button type="button"
								class="btn btn-danger self-destroy float-right">
								<i class="fas fa-minus-circle"></i>
							</button>
						</div>
					</div>

				</div>
			</div>
					<button type="submit" name="enviar"
						class="col-12 col-md-6 offset-md-2 btn btn-block btn-secondary">Buscar</button>
			<div th:each="publicacion : ${publicaciones}"
				class="col-12 border border-primary rounded-lg my-2">
				<a class="btn text-dark"
					th:href="@{/publicaciones/{id} (id = ${publicacion.id})}"> <span
					class="h6" th:text="${publicacion.titulo}"></span>&emsp; <span
					class="lead">por&nbsp;</span> <span
					th:if="${publicacion.usuario != null}" class="lead"
					th:text="${publicacion.usuario.nombre}"> </span>&emsp;<span
					class="lead"
					th:text="${#dates.format(publicacion.fechaPublicacion, 'dd-MM-yyyy')}"></span>
				</a>
				<div>
					<div class="badge badge-primary"
						th:each="etiqueta : ${publicacion.etiquetas}"
						th:text="${etiqueta.nombre}"></div>
				</div>
			</div>
		</div>
	</form>



	<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.js}"></script>
	<script th:src="@{/js/all.min.js}"></script>
	<script th:src="@{/js/publicaciones/formPublicacion.js}"></script>
</body>
</html>