<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/css/all.min.css}">
<title>Nueva publicación</title>
</head>

<body>

	<header th:insert="fragments/nav :: navbar-menu"></header>

	<div class="container">
		<div class="row">
			<div class="col-12 col-md-4 offset-md-4">
				<form th:action="@{/publicaciones/nueva}" method="post"
					enctype="multipart/form-data" th:object="${publicacion}">


					<div th:if="${#fields.hasErrors('*')}" class='alert alert-danger'
						role='alert'>
						Por favor corrija los siguientes errores:
						<ul>
							<li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
						</ul>
					</div>

					<label for="titulo" class="lead">Título</label> <input type="text"
						th:field="*{titulo}" name="titulo" id="titulo"
						class="form-control">

					<div class="form-group">
						<label for="detalles" class="lead">Detalles</label>
						<textarea id="detalles" th:field="*{detalles}"
							class="form-control" name="detalles" rows="4"></textarea>
					</div>

					<div class="form-group">
						<div class="custom-file">
							<input id="archivo" class="custom-file-input" type="file"
								name="archivoSubir" multiple="multiple"> <label
								for="archivo" class="custom-file-label">Archivo</label>
						</div>
					</div>

					<div class="form-group mt-2">
						<label for="etiquetas" class="lead">Etiquetas</label>
						<fieldset name="etiquetas" class="mt-3" id="etiquetas">
							<hr>
							<div class="input-group">
								<select class="form-control" id="selectorEtiqueta">
									<option th:each="etiqueta : ${etiquetas}"
										th:text="${etiqueta.nombre}" th:attr="value = ${etiqueta.id}" />
								</select>
								<button type="button" id="agregarEtiqueta"
									class="input-group-append btn btn-success">
									<i class="fas fa-plus"></i>
								</button>
							</div>

						</fieldset>
						<div class="list-group" id="etiquetas">
							<input type="hidden" name="etiquetas" id="etiquetasvacias"
								value="0">
						</div>

						<button type="submit" class="btn btn-block btn-secondary">Confirmar</button>
					</div>

				</form>
			</div>
		</div>
	</div>

</body>

<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/all.min.js}"></script>
<script th:src="@{/js/publicaciones/formPublicacion.js}">
	
</script>

</html>